{% extends "main.html" %}

{%block content %}	
{% for laniere_name, laniere in laniere_dict.items %}


	<div class="laniere-group">
		<hgroup>
		<h2>{{ laniere_name }}</h2>
		<p class="Validation{{ laniere.qualif }}">{{ laniere.qualif }}</p>
		<p>{{ laniere.moy }}</p>
		</hgroup>
		<table>	
			<thead>
				<tr>
					<th>Matières</th>
					<th class="notecol">Coefficient</th>
					<th class="notecol">Note</th>
					<th class="notecol">Minimum</th>
					<th class="notecol">Moyenne</th>
					<th class="notecol">Maximum</th>
				</tr>
			</thead>
			<tbody>
			{% for categorie_name,categorie in laniere.categories.items %}
				<tr>
					<th>Notes de {{ categorie_name }}</th>
					<th>({{ categorie.coef }})</th>
					<th>{{ categorie.moy }}</th>
					<th colspan="3"></th>
				</tr>
				
				{% for note in categorie.note_list %}
				<tr>
				  <td >{{ note.nom }}</td>
				  <td class="notecol">{{ note.coeff }}</td>
				  <td class="notecol">{{ note.value }}</td>
				  <td class="notecol">{{ note.min }}</td>
				  <td class="notecol">{{ note.moy }}</td>
				  <td class="notecol">{{ note.max }}</td>
				</tr>
				{% endfor %}
				
			{% endfor %}
			</tbody>
		</table>
	</div>

{% endfor %}

{% endblock %}
