<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" />
    	<title>Notes IF (v2)</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}/css/index.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}/js/jquery-1.7.1.min.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}/js/main.js" ></script>
		<!--<link rel="shortcut icon" href="" type="image/x-icon" />-->
	</head>
<body>
    <header>
		<hgroup id="tagline">
			<h1>Notes IF</h1>
			<p>
                Dernière mise à jour le
			    <time datetime="{{ updated_time }}">{{ updated_time|date:"d/m/Y à H:s" }}</time>
            </p>
		</hgroup>
		<div id="loginbox" >
			<p>{{ user.username }} | {{ profile.id_from_ldap }}</p>
			<a href="{{ url_unlog }}">Se déconnecter</a>
		</div>
    </header>
	<aside>
		<article id="moybox">
			<h2>Votre moyenne : <strong>{{ moy }}</strong><em>/ 20</em></h2>
            <p class="classement"><strong>{{ classement }}</strong><sup>ème</sup></p>
        </article>
		<nav>
			
		</nav>
	</aside>
	<section id="main-content">
		{% block content %}
		{% endblock %}
	</section>
    <footer>
        <p>
            <em>Les notes affichées sur ce site sont indicatives.</em>
        </p>
        <p>
            Réalisé par des étudiants IF (Hexanote) avec l'aide du département
            IF de l'INSA de Lyon.
        </p>
    </footer>
</body>
</html>
